body {
    background-color: #FEC3A6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Intro {

    /* padding: 1em;
     margin: 1em;
     margin-bottom: 0.5em;*/
     background-image: url('cape.png');
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0.5em;
     img{
        margin-top: 0.5em;
        padding-left: 70%;
        border-radius: 1em;
        border-bottom: 1em;
      }
}


.Which_City {
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
}
.para0 {
    width: 30em;
    display: inline-block;
    font-size: large;
  }

.Foreign_Language {
     padding: 1em;
     margin: 1em;
     margin-bottom: 0.5em;
}

.Favourite_subjects {
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
    
}

.hist2 {
    padding: 1em;
     margin: 1em;
     margin-bottom: 0.5em;
}

.Historical_Places {
     padding: 1em;
     margin: 1em;
     margin-bottom: 0.5em;
}

.table {
    border: 1px solid;
    text-align: justify;
    width: 70%;
    border-collapse: #FF928B;
    padding: 8px;
        margin-left: auto;
        margin-right: auto;
margin-top: 3em;
}

@media (min-width: 600px) {
    .Historical_Places {
      display: flex;
      width: 90%;
      margin: 0.5em; 
    }
  }
  .hist1{
    align-items: center;
    margin: 20px;
  }

  .hist2 {
    display: flex;
    margin-top: 20px;
  }

  .hp{
    text-align: center;
  }

  @media screen and (max-width: 620px) {
    
    .Intro,
    .Which_City,
    .para0,
    .Foreign_Language,
    .Favourite_subjects,
    .Historical_Places
    table
    
     {
      flex-direction: column;
    }
  }
  @media (min-width: 600px){
    .citypic{
      object-fit: cover;
    }
  }